body {
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1516469679150-4fdd1f114f97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZGFyayUyMGNsb3VkfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    background-repeat: no-repeat, repeat;
    background-position: center; 
    background-size:cover;
    margin-top:15%;
    font-family: 'Lato';
    text-align: center;
    width: 100%;
    height: 100%;
}

#buttonIcon {
    background-color: #4CAF50; /* Green */
    opacity: .6;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}


.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}